---
permalink: /gallery
layout: default
title: Browse
class: gallery-page
number: '03'
subtitle: Random artwork and inspiration
---



{% include common/title-layout.html %}




<section class="creative-gallery">
    {% for image in site.static_files %}
    {% if image.path contains 'img/gallery' %}
    <div class="gallery-image">
        <img class="scroll-animation-false" src="{{ site.baseurl }}{{ image.path }}">
    </div>
    {% endif %}
    {% endfor %}
</section>


<script src="/assets/js/jquery-2.1.1.js"></script>
<script src="/assets/js/jquery.js"></script>
<script>
    $(function () {
        var container = $('.creative-gallery').masonry();

        setTimeout(function () {
            container.masonry('.gallery-image');
        }, 2000);

    });

    $(window).load(function () {
        $('.creative-gallery').masonry();
    });

    // $(function () {
    //     var container = $('.creative-gallery');

    //     // Trigger masonry
    //     container.masonry({
    //         itemSelector: '.gallery-image',
    //         fitWidth: true,
    //         horizontalOrder: false,
    //         fitWidth: true,
    //         fitHeight: true
    //     });
    // });
</script>
<script src="/assets/js/masonry.js"></script>