---
permalink: /
title: Home
---
<!DOCTYPE html>
<html lang="en" class="theme-light">

<head>
	{% include common/head.html %}
</head>

<body class="home-page" {% if page.url == '/' %} class="body-home" {% endif %}>
	<main class="content">
		<a class="" href="/work-ross-alan">
			<div class="work-item-wrapper scroll-animation-false">
				<div class="work-img">
					<img src="/assets/img/work/ra.png" alt="Ross Alan image">
				</div>
				<div class="work-info">
					<div class="work-top-section">
						<p class="work-type">
							Featured design
						</p>

						<h3>Ross Alan</h3>
					</div>

					<div class="work-bottom-section">
						<a class="btn-text" href="/work-ross-alan">
							<span>Have a peek</span>
							<span class="material-symbols-outlined">
								arrow_right_alt
							</span>
						</a>
					</div>
				</div>
			</div>
		</a>
	</main>
	{% include common/navigation.html %}

</body>
{% include common/footer.html %}

</html>