---
permalink: /portfolio-showcase-p1
number: '99'
title: Project 1
subtitle: Portfolio Showcase
---
<!DOCTYPE html>
<html lang="en" class="theme-light">

<head>
	{% include common/head.html %}
</head>

<body class="port-showcase-page">
	{% include common/navigation.html %}

	<main class="content">
		{% include common/title-layout.html %}

		<div class="subsection scroll-animation-false">
			<div class="subsection__description">
				<a href="/work-stakt">
					<p class="h5">
						STAKT
					</p>
				</a>
				<ul>
					<li>Crypto-trading company with limited time of scoping</li>
					<li>My understanding of cryptocurrency is very minimal</li>
					<li>Target market were from two different spectrums</li>
					<li>Balancing as a Product Designer and a Product Owner</li>
				</ul>
			</div>


			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/work/stakt-1.png">
			</div>
		</div>

		<div class="subsection scroll-animation-false">
			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/showcase/stakt-persona.png">
				<img src="{{site.baseurl}}/assets/img/showcase/stakt-user-flow.png">
			</div>

			<div class="subsection__description">
				<p class="h5">
					Understand
				</p>
				<ul>
					<li>Client wanted to cater to users with little to no experience of the industry</li>
					<li>But also at the same time wanted to cater traders that trade everyday</li>
					<li>Discovery interviews were done for these two user types</li>
					<li>Patterns and common pain points were found - users were often overwhelemed and not educated much
						about the industry, they wanted to feel safe with the idea</li>
					<li>Understood what competitors were doing well and weren't doing well according to these users -
						most platforms were extremely overwhelming with no guidance</li>
					<li>From all the discovery interviews, we were able to identify the most simple and ideal user
						journey for target market 1 (users with little to no knowledge)</li>
					<li>We were also able to identify pre-requisites of the application and where major complexity lies
						for an MVP, which allowed the development team to start their investigations on things that were
						uncertain whilst I was scoping</li>
				</ul>
			</div>
		</div>

		<div class="subsection scroll-animation-false">

			<div class="subsection__description">
				<p class="h5">
					Research & Test
				</p>
				<ul>
					<li>Competitor research, identify what were the most ideal user experience from discovery interview
						findigns</li>
					<li>Brainstorming sessions, identified with the client on all the ideal features and user experience
						for user type 1</li>
					<li>Gathering these ideas and turning into wireframes</li>
					<li>Refine wireframes with client</li>
					<li>User tested wireframes</li>
					<li>Re-iterate wireframes</li>
					<li>Try to nail the user experience and user journey (the main pages at least as development needed
						to occur within 4 days)</li>
				</ul>
			</div>

			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/showcase/stakt-wireframes.png">
				<img src="{{site.baseurl}}/assets/img/showcase/stakt-wireframes-2.png">
			</div>
		</div>

		<div class="subsection scroll-animation-false">
			<div class="subsection__imgs">

				<img src="{{site.baseurl}}/assets/img/work/stakt-9.png">

				<img src="{{site.baseurl}}/assets/img/work/stakt-6.png">
			</div>

			<div class="subsection__description">

				<p class="h5">
					Design and product ownership
				</p>
				<ul>
					<li>A limited amount of branding colours and requirements were given</li>
					<li>A strict design system was identified and created</li>
					<li>User test the high-fidelity prototype and make minor adjustments and fixes accordingly</li>
					<li>Balancing and understanding technical requirements and what is feasible</li>
					<li>Consistently scoping the next requirements whilst working closely with a development team
						running sprints</li>
				</ul>
			</div>
		</div>

		<div class="subsection scroll-animation-false">
			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/work/stakt-3.png">
				<img src="{{site.baseurl}}/assets/img/work/stakt-5.png">
			</div>
			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/work/stakt-4.png">

				<img src="{{site.baseurl}}/assets/img/work/stakt-2.png">
			</div>
		</div>


		<div class="scroll-animation-false" style="display: flex; justify-content: center;">
			<a class="btn-text" href="/portfolio-showcase-home">
				<span style="margin-right: 10px;" class="material-symbols-outlined">
					arrow_back
				</span><span>Back to process</span>
			</a>
			<a class="btn-text" href="/portfolio-showcase-p2">
				<span>Project 2</span>
				<span class="material-symbols-outlined">
					arrow_right_alt
				</span>
			</a>
		</div>
	</main>

</body>
{% include common/footer.html %}

</html>