---
permalink: /portfolio-showcase-p2
number: '99'
title: Project 2
subtitle: Portfolio Showcase
---
<!DOCTYPE html>
<html lang="en" class="theme-light">

<head>
	{% include common/head.html %}
</head>

<body class="port-showcase-page">
	{% include common/navigation.html %}

	<main class="content">
		{% include common/title-layout.html %}

		<div class="subsection scroll-animation-false">
			<div class="subsection__description">
				<a href="/work-harmony">
					<p class="h5">
						Harmony Design System (Bot Behaviour Design)
					</p>
				</a>
				<ul>
					<li>Low-code platform that creates features and builds a base application for businesses</li>
					<li>Multiple types of end-product users</li>
					<li>Constant product iteration from user quantitative feedback</li>
					<li>Balancing as a Product Designer and SCSS/HTML development</li>
				</ul>
			</div>


			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/work/harmony-1.png">
			</div>
		</div>

		<div class="subsection scroll-animation-false">

			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/work/harmony-2.png">
			</div>
			<div class="subsection__description">
				<p class="h5">
					Understand
				</p>
				<ul>
					<li>User types: developers that require fast repetitive building blocks and features specifically
						for their
						business requirements</li>
					<li>Features had to be usable by any type of business</li>
					<li>Have base requirements for features but also allow flexibility</li>
					<li>4 behaviours required: Timelines, CRUD, Forms and Workflows</li>
				</ul>
			</div>
			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/work/harmony-3.png">
				<img src="{{site.baseurl}}/assets/img/work/harmony-6.png">
			</div>


		</div>

		<div class="subsection scroll-animation-false">

			<div class="subsection__description">
				<p class="h5">
					Research & Test
				</p>
				<ul>
					<li>Find common patterns and user experiences from other industries </li>
					<li>The ideal user journeys for each feature were created</li>
					<li>Different types of workshops were performed depending on complexity of the feature </li>
					<li>Sketches and user journeys were refined from user feedback</li>
					<li>Wireframes help nailed the ideal user experience and feel for the feature</li>
				</ul>
			</div>

			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/work/harmony-4.png">
				<img src="{{site.baseurl}}/assets/img/work/harmony-5.png">
				<img src="{{site.baseurl}}/assets/img/work/harmony-7.png">
			</div>
		</div>

		<div class="subsection scroll-animation-false">

			<div class="subsection__description">
				<p class="h5">
					Design and development
				</p>
				<ul>
					<li>Design system was created, and mainatined</li>
					<li>A SCSS styling library was created for these features</li>
					<li>These components were consistently refined from user feedback once the features have been
						deployed</li>
					<li>Given WorkingMouse were using these bots everyday for client-facing work, I became the company's
						styling the bot mentor for multiple developers</li>
				</ul>
			</div>

			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/showcase/harmony-doc.png">
				<img src="{{site.baseurl}}/assets/img/showcase/harmony-doc-2.png">
			</div>

		</div>

		<div class="scroll-animation-false" style="display: flex; justify-content: center;">
			<a class="btn-text" href="/portfolio-showcase-p1">
				<span style="margin-right: 10px;" class="material-symbols-outlined">
					arrow_back
				</span><span>Project 1</span>
			</a>
			<a class="btn-text" href="/work">
				<span>View all projects</span>
				<span class="material-symbols-outlined">
					arrow_right_alt
				</span>
			</a>
		</div>
	</main>

</body>
{% include common/footer.html %}

</html>