---
permalink: /portfolio-showcase-p2
number: '99'
title: Project 2
subtitle: Portfolio Showcase
---
<!DOCTYPE html>
<html lang="en" class="theme-light">

<head>
	{% include common/head.html %}
</head>

<body class="port-showcase-page">
	{% include common/navigation.html %}

	<main class="content">
		{% include common/title-layout.html %}

		<div class="subsection scroll-animation-false">
			<div class="subsection__description">
				<a href="/work-harmony">
					<p class="h5">
						Harmony Design System (Bot Behaviour Design)
					</p>
				</a>
				<ul>
					<li>Low-code platform that creates components/behaviours according to a detailed entity diagram</li>
					<li>Behaviours had to cater to meet minimal requirements but also allow flexibility in customisation
						as there were many different type of end-product users
					</li>
					<li>The style library (Harmony/SCSS) and DOM structure of components had to be shared across two
						front-end stacks and also be accessible</li>
					<li>Constant product iteration from user feedback</li>
					<li>Balancing as a Product Designer and development</li>
				</ul>
			</div>


			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/work/harmony-1.png">
			</div>
		</div>

		<div class="subsection scroll-animation-false">
			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/work/harmony-2.png">
				<img src="{{site.baseurl}}/assets/img/work/harmony-3.png">
				<img src="{{site.baseurl}}/assets/img/work/harmony-6.png">
			</div>

			<div class="subsection__description">
				<p class="h5">
					Understand
				</p>
				<ul>
					<li>User types: developers that require fast repetitive building blocks created according to their
						business requirements</li>
					<li>Who will be using the front-facing end of these building blocks - even though it's for
						developers to quickly build applications, these features had to be usable by the generic public
					</li>
					<li>What would the ideal base requirements for a feature be? But also allow flexibility</li>
					<li>Throughout the whole project, there were 4 behaviours required: Timelines, CRUD, Forms and
						Workflows</li>
					<li>
						Discovery interviews were done for both developers and their users/clients
					<li>We were able to identify what were the minimum requirements and what would be nice to have</li>
					<li>We tried to identify what the most common workflows are for these users for each behaviour</li>
					</li>
				</ul>
			</div>
		</div>

		<div class="subsection scroll-animation-false">

			<div class="subsection__description">
				<p class="h5">
					Research & Test
				</p>
				<ul>
					<li>We were seeing what common patterns and user experience were being developed by other industries
						for these behaviours</li>
					<li>The ideal user journeys for each behaviours were created</li>
					<li>Different types of workshops were performed between developers and potential behaviour users
						(developer's client)</li>
					<li>Minimum requirements were identified from these workshops</li>
					<li>Rough sketches were done pairing the minimum requirements and the ideal user journey identified
						- these were constantly re-iterated within the team</li>
					<li>Sketches were then presented to users for feedback on the flow and the features</li>
					<li>After re-iterating sketches and refining the main user flow and minimum requirements - sketches
						turned into wireframes</li>
					<li>Refine wireframes with user testing with multiple user types</li>
				</ul>
			</div>

			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/work/harmony-4.png">
				<img src="{{site.baseurl}}/assets/img/work/harmony-5.png">
				<img src="{{site.baseurl}}/assets/img/work/harmony-7.png">
			</div>
		</div>

		<div class="subsection scroll-animation-false">
			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/showcase/harmony-doc.png">
				<img src="{{site.baseurl}}/assets/img/showcase/harmony-doc-2.png">
			</div>

			<div class="subsection__description">

				<p class="h5">
					Design and development
				</p>
				<ul>
					<li>Harmony had to strictly accommodate to accessibility design and also allow a neutral tone and
						feel </li>
					<li>A rough design system was created, mainly for how we want primary and secondary components to
						look like</li>
					<li>These components were consistently iterated throughout the hi-fi designs of the behaviour
						features and screens</li>
					<li>Once the hi-fi prototype was completed - user testing was done and these designs were refined
					</li>
					<li>From here I had to write the DOM structure for each behaviour to ensure both bots share the same
						standards to allow sharing of a SCSS styling library</li>
					<li>I then wrote the SCSS library that styled these behaviours and had to write onboarding articles
						on how to style the bots</li>
					<li>Given WorkingMouse were using these bots everyday for client-facing work, I became the company's
						styling the bot mentor for multiple developers</li>
				</ul>
			</div>
		</div>

		<div class="scroll-animation-false" style="display: flex; justify-content: center;">
			<a class="btn-text" href="/portfolio-showcase-p1">
				<span style="margin-right: 10px;" class="material-symbols-outlined">
					arrow_back
				</span><span>Project 1</span>
			</a>
			<a class="btn-text" href="/work">
				<span>View all projects</span>
				<span class="material-symbols-outlined">
					arrow_right_alt
				</span>
			</a>
		</div>
	</main>

</body>
{% include common/footer.html %}

</html>