---
permalink: /portfolio-showcase-home
number: '99'
title: Process
subtitle: Portfolio Showcase
---
<!DOCTYPE html>
<html lang="en" class="theme-light">

<head>
	{% include common/head.html %}
</head>

<body class="port-showcase-page">
	{% include common/navigation.html %}

	<main class="content">
		{% include common/title-layout.html %}
		<div class="subsection scroll-animation-false">
			<div class="subsection__img">
				<img src="{{site.baseurl}}/assets/img/showcase/process-1.png">
			</div>

			<div class="subsection__description">
				<p class="h5">
					Understand (20%)
				</p>
				<ul>
					<li>Identify the problem your clients are facing</li>
					<li>What problem are they trying to solve?</li>
					<li>Who are their target audience and users?</li>
					<li>Talk to your clients users and understand them</li>
					<li>Find patterns</li>
				</ul>

				<p class="h5">
					Research & Test (70%)
				</p>
				<ul>
					<li>Find out what competitors are doing well and not so well</li>
					<li>Identify the ideal user journey flow for each target audience/user</li>
					<li>Workshop - depending on the information found</li>
					<li>Start rough sketches and constantly re-iterate them from user testing</li>
					<li>Create wireframes (clickable) and constantly re-iterate them from user testing - ensure each
						screen aligns
						to the journey</li>
					<li>Nail the user experience</li>
				</ul>


				<p class="h5">
					Design (15%)
				</p>
				<ul>
					<li>Create a design system and ensure the user interface is accessible</li>
					<li>High-fidelity screens and a clickable prototype</li>
					<li>User test and make minor adjustments and fixes accordingly</li>
				</ul>
			</div>
		</div>

		<div class="subsection scroll-animation-false">
			<div>
				<p class="h3">Considerations</p>
				<ul>
					<li>MVP - what are the key requirements for a product and where to spend significant amount of
						time</li>
					<li>Technical complexities - what is feasible and reasonable</li>
					<li>Starting small and consistently scoping is ideal, there will always be opportunities for
						better solutions down the line</li>
				</ul>
			</div>
			<div class="subsection__description">
				<p class="h3"></p>
				<ul>
					<li>Accessibility - we want everyone to feel included even though it might not align with the brand
					</li>
					<li>Strictly spending time on a design system will prevent inconsistencies in the future</li>
					<li>We're not always trying</li>
				</ul>
			</div>
		</div>

		<a class="btn-text scroll-animation-false" href="/portfolio-showcase-p1">
			<span>Project 1</span>
			<span class="material-symbols-outlined">
				arrow_right_alt
			</span>
		</a>
	</main>

</body>
{% include common/footer.html %}

</html>