---
permalink: /portfolio-showcase-p2
number: '99'
title: Project 2
subtitle: Portfolio Showcase
---
<!DOCTYPE html>
<html lang="en" class="theme-light">

<head>
	{% include common/head.html %}
</head>

<body class="port-showcase-page">
	{% include common/navigation.html %}

	<main class="content">
		{% include common/title-layout.html %}

		<div class="subsection scroll-animation-false">
			<div class="subsection__description">
				<a href="/work-stakt">
					<p class="h5">
						STAKT
					</p>
				</a>
				<ul>
					<li>Crypto-trading company with a unique selling point of targeting users new to the industry</li>
					<li>Parallel scoping while a sprint runs</li>
					<li>Role as a Product Designer and a Product Owner</li>
				</ul>
			</div>


			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/work/stakt-1.png">

				<img src="{{site.baseurl}}/assets/img/work/stakt-3.png">
				<img src="{{site.baseurl}}/assets/img/work/stakt-5.png">
			</div>
		</div>

		<div class="subsection scroll-animation-false">
			<div class="subsection__description">
				<p class="h5">
					Understand
				</p>
				<ul>
					<li>Client wanted to cater to users with little to no experience of the industry as their primary
						user type</li>
					<li>Patterns and common pain points were found - users were often overwhelmed and not educated much
						about the industry, they wanted to feel safe with the idea</li>
					<li>Understood what competitors were doing well and weren't doing well according to these users</li>
				</ul>
			</div>
			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/showcase/stakt-persona.png">
				<img src="{{site.baseurl}}/assets/img/showcase/stakt-user-flow.png">
			</div>
		</div>

		<div class="subsection scroll-animation-false">

			<div class="subsection__description">
				<p class="h5">
					Research & Test
				</p>
				<ul>
					<li>Competitor research, identify what were the most ideal user experience from discovery interview
						findings</li>
					<li>Gathering these ideas from brainstorming sessions and user journey then turning them into
						wireframes</li>
					<li>Refine, test and re-iterate wireframes</li>
				</ul>
			</div>
			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/showcase/stakt-wireframes.png">
				<img src="{{site.baseurl}}/assets/img/showcase/stakt-wireframes-2.png">
			</div>
		</div>

		<div class="subsection scroll-animation-false">
			<div class="subsection__imgs">

				<img src="{{site.baseurl}}/assets/img/work/stakt-9.png">

				<img src="{{site.baseurl}}/assets/img/work/stakt-6.png">
			</div>

			<div class="subsection__description">

				<p class="h5">
					Design and product ownership
				</p>
				<ul>
					<li>A strict design system was identified and created</li>
					<li>User test the high-fidelity prototype and make minor adjustments and fixes accordingly</li>
					<li>Balancing and understanding technical requirements and what is feasible</li>
				</ul>
			</div>
		</div>

		<div class="subsection scroll-animation-false">
			<div class="subsection__imgs">
				<img src="{{site.baseurl}}/assets/img/work/stakt-4.png">

				<img src="{{site.baseurl}}/assets/img/work/stakt-2.png">
			</div>
		</div>


		<div class="scroll-animation-false" style="display: flex; justify-content: center;">
			<a class="btn-text" href="/portfolio-showcase-home">
				<span style="margin-right: 10px;" class="material-symbols-outlined">
					arrow_back
				</span><span>Back to process</span>
			</a>
			<a class="btn-text" href="/portfolio-showcase-p2">
				<span>Project 2</span>
				<span class="material-symbols-outlined">
					arrow_right_alt
				</span>
			</a>
		</div>
	</main>

</body>
{% include common/footer.html %}

</html>