/* Home page */
.home-page {
    .work-item-wrapper {
        &:hover {
        }
        display: grid;
        grid-template-areas: "img" "info";
        grid-template-columns: 1fr;
        .work-img {
            width: 40vw;
            height: auto;
            border: none;
            img {
                width: 100%;
                height: auto;
            }
        }
        .work-info {
            padding: 0;
        }
    }
}
