.page-title {
    display: flex;
    align-items: center;
    height: max-content;
    @include fadeInDown(1s);
    @include media(smd) {
        flex-direction: column;
        align-items: flex-start;
    }
    .number {
        font-weight: $text-bold;
        font-size: 8rem;
        margin-right: 2rem;
    }
    .title-desc {
        display: flex;
        flex-direction: column;
        .title {
            font-weight: $text-bold;
            font-size: $text-xl;
            @include media(smd) {
                font-size: 2rem;
            }
        }
        .subtitle {
            line-height: 2.3;
            @include media(smd) {
                line-height: 1.5;
            }
        }
    }
}
