.work-page,
.home-page {
    .work-item-wrapper {
        @include transform-timing(1s);
        display: grid;
        grid-template-areas: "img info";
        grid-template-columns: 1fr 1fr;
        margin: 3rem 0;
        align-items: center;
        opacity: 0.8;
        &:hover,
        &:active {
            opacity: 1;
        }
        * {
            color: $white;
        }
        &.scroll-animation-false {
            opacity: 0;
        }
        &.scroll-animation-true {
            @include fadeInUp(1s);
        }

        .work-img {
            width: 40vw;
            height: auto;
            overflow: hidden;
            grid-area: img;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            // @include transform-timing(1s);
            // &:hover {
            //     background-color: $color-brand-01;
            //     width: 80vw;
            // }
            img {
                width: 40vw;
                height: auto;
                height: 100%;
                object-fit: cover;
            }
        }
        .work-info {
            grid-area: info;
            padding: 0 2rem;
            .work-top-section {
                .work-type {
                    margin-bottom: 0;
                }
                h3 {
                    font-size: 3rem;
                }
            }
        }
    }
}
.work-page {
    .content {
        @include media-min(xl) {
            max-width: unset;
        }
    }
    .work-item-wrapper {
        @include media-min(smd) {
            @include transform-timing(1s);
        }
        @include media(smd) {
            grid-template-areas: "img" "info";
            grid-template-columns: 1fr;
        }
        &:nth-of-type(odd) {
            grid-template-areas: "info img";
            .work-img {
                margin-left: auto;
            }
            @include media(smd) {
                grid-template-areas: "img" "info";
                .work-img {
                    margin: 0;
                }
            }
        }
        .work-img {
            @include media(smd) {
                width: 100%;
                border: none;
                height: auto;
            }
            img {
                @include media(smd) {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .work-info {
            @include media(smd) {
                padding: 0;
            }
        }
    }
}
