.work-page {
    .work-item-wrapper {
        display: grid;
        grid-template-areas: "img info";
        grid-template-columns: 1fr 1fr;
        margin: 3rem 0;
        align-items: center;
        opacity: 0.7;
        @include transform-timing(1s);
        &:hover {
            opacity: 1;
        }
        * {
            color: $white;
        }
        &.scroll-animation-false {
            opacity: 0;
        }
        &.scroll-animation-true {
            @include fadeInUp(1s);
        }
        &:nth-of-type(odd) {
            grid-template-areas: "info img";
            .work-img {
                margin-left: auto;
            }
        }

        .work-img {
            height: 400px;
            width: 400px;
            overflow: hidden;
            border: 10px solid $grey-6;
            grid-area: img;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        .work-info {
            grid-area: info;
            padding: 0 2rem;
            .work-top-section {
                .work-type {
                    margin-bottom: 0;
                }
                h3 {
                    font-size: 3rem;
                }
            }
        }
    }
}
