<div class="work-view__content-wrapper">
    <div class="img-wrapper scroll-animation-false">
        <img src="{{site.baseurl}}/assets/img/work/{{page.img1 | replace: '..', site.baseurl}}.png">
    </div>
    <div class="border-box scroll-animation-false">
        <p class="h3 border-box-heading">the introduction</p>
        <div class="work-desc">{% contentblock introduction %}</div>
    </div>
</div>
<div class="work-view__content-wrapper">
    <div class="img-wrapper scroll-animation-false">
        <img src="{{site.baseurl}}/assets/img/work/{{page.img3 | replace: '..', site.baseurl}}.png">
        <img src="{{site.baseurl}}/assets/img/work/{{page.img4 | replace: '..', site.baseurl}}.png">
    </div>
    <div class="border-box scroll-animation-false">
        <p class="h3 border-box-heading">the problem</p>
        <div class="work-desc">{% contentblock problem %}</div>
    </div>
</div>
<div class="work-view__content-wrapper">
    <div class="img-wrapper scroll-animation-false">
        <img src="{{site.baseurl}}/assets/img/work/{{page.img5 | replace: '..', site.baseurl}}.png">
        <img src="{{site.baseurl}}/assets/img/work/{{page.img6 | replace: '..', site.baseurl}}.png">
    </div>
    <div class="border-box  scroll-animation-false">
        <p class="h3 border-box-heading">the solution</p>
        <div class="work-desc">{% contentblock solution %}</div>
    </div>
</div>
<div class="work-view__content-wrapper">
    <div class="img-wrapper scroll-animation-false">
        <img src="{{site.baseurl}}/assets/img/work/{{page.img7 | replace: '..', site.baseurl}}.png">
        <img src="{{site.baseurl}}/assets/img/work/{{page.img2 | replace: '..', site.baseurl}}.png">
    </div>
    <div class="border-box  scroll-animation-false">
        <p class="h3 border-box-heading">the outcome</p>
        <div class="work-desc">{% contentblock outcome %}</div>
    </div>
</div>

<!-- 
    for img zoom
<div class="img-wrapper scroll-animation-false">
    <div class="img-zoom inactive">
        <img src="{{site.baseurl}}/assets/img/work/{{page.img1 | replace: '..', site.baseurl}}.png">
        <span class="btn btn-toggle__img1 btn--solid btn--primary show-text icon-look icon-only">
        </span>
    </div>
    <div class="img-zoom inactive">
        <img src="{{site.baseurl}}/assets/img/work/{{page.img2 | replace: '..', site.baseurl}}.png">
        <span class="btn btn-toggle__img2 btn--solid btn--primary show-text icon-look icon-only">
        </span>
    </div>
</div> -->