<nav id="navigation" {% if page.url != '/' %}class="inactive" {% endif %}>
	{% if page.url != '/' %}
	<a id="menu-link" aria-label="Expand nav" class="menu-link inactive">
		<div id="nav-icon1" class="close">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</a>
	{% endif %}
	<ul {% if page.url == '/' %} class="nav-home" {% endif %} {% if page.url != '/' %} class="nav-page" {% endif %}>
		{% if page.url != '/' %}<li><a href="/" aria-label="home page"
				{% if page.url == '/' or page.url contains '/portfolio-showcase'  %}class="active" {% endif %}><span
					class="nav__num">00
				</span> Home</a>
		</li>{% endif %}
		{% if page.url != '/experience' %}<li><a href="/experience" aria-label="about page"
				{% if page.url == '/experience' %}class="active" {% endif %}><span class="nav__num">01
				</span> Journey</a>
		</li>{% endif %}
		{% if page.url != '/work' %}<li><a href="/work" aria-label="work page"
				{% if page.url == '/work' %}class="active" {% endif %}><span class="nav__num">02</span>
				Craft</a></li>{% endif %}
		{% if page.url != '/gallery' %}<li><a href="/gallery" aria-label="gallery page"
				{% if page.url == '/gallery' %}class="active" {% endif %}><span class="nav__num">03 </span>
				Browse</a></li>{% endif %}

		{% if page.url != '/about' %}<li><a href="/about" aria-label="experience page"
				{% if page.url == '/about' %}class="active" {% endif %}><span class="nav__num">04</span>Me</a></li>
		{% endif %}
		{% if page.url != '/contact' %}<li><a href="/contact" aria-label="contact page"
				{% if page.url == '/contact' %}class="active" {% endif %}><span class="nav__num">05</span>Contact</a>
		</li>{% endif %}
		{% if page.url == '/' %}<li class="mobile-feature">
			<a class="" href="/work-ross-alan">
				<div class="work-item-wrapper">
					<div class="work-img">
						<img src="/assets/img/work/ra.png" alt="Ross Alan image">
					</div>
					<div class="work-info">
						<div class="work-top-section">
							<p class="work-type">
								Featured design
								<span class="material-symbols-outlined">
									arrow_right_alt
								</span>
							</p>

						</div>
					</div>
				</div>
			</a>
		</li>{% endif %}

	</ul>
</nav>