/* Mobile navigation, note that on mobile we are replacing the horizontal nav with the 
hamburger and slide out navigation */

/* START HAMBURGER */
#menu,
.menu-link {
	@include media-min(smd) {
		display: none;
		grid-area: unset;
	}

	@include media(smd) {
		display: block;
		grid-area: menu;
	}

	&:focus {
		border: none;
	}
}

// https://codepen.io/designcouch/pen/Atyop
/* Icon 1 */

#nav-icon1 {
	//hamburger width
	width: 30px;
	height: 30px;

	@include media-min(sm) {
		width: 35px;
		height: 40px;
	}

	position: relative;
	margin: 1.5rem auto;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;

	//hamburger (3 spans for animating purposes)
	span {
		display: block;
		position: absolute;
		height: 4px;
		width: 100%;
		background-color: $color-primary;

		@include media-min(sm) {
			height: 5px;
		}

		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.25s ease-in-out;
		-moz-transition: 0.25s ease-in-out;
		-o-transition: 0.25s ease-in-out;
		transition: 0.25s ease-in-out;

		&:nth-child(1) {
			top: 0px;
		}

		&:nth-child(2) {
			top: 10px;

			@include media-min(sm) {
				top: 13px;
			}
		}

		&:nth-child(3) {
			top: 20px;

			@include media-min(sm) {
				top: 26px;
			}
		}
	}

	//animate to x
	&.open {
		span {
			&:nth-child(1) {
				top: 10px;
				-webkit-transform: rotate(135deg);
				-moz-transform: rotate(135deg);
				-o-transform: rotate(135deg);
				transform: rotate(135deg);
			}

			&:nth-child(2) {
				opacity: 0;
				left: -60px;
			}

			&:nth-child(3) {
				top: 10px;
				-webkit-transform: rotate(-135deg);
				-moz-transform: rotate(-135deg);
				-o-transform: rotate(-135deg);
				transform: rotate(-135deg);
			}
		}
	}
}

.menu-link {
	margin-top: $space-xxs;
	right: $space-xs;
	z-index: 10;
}

/* END HAMBURGER */

//navigation whole - converting horizontal navigation to slide out navigation on acive
#navigation {
	//iPad size styling
	@include media(smd) {
		background-color: $color-brand-01;
		width: 100vw;
		&.inactive {
			border-top: 3px solid $grey-6;
			overflow: hidden;
			ul {
				opacity: 0;
				bottom: -100vh;
				@include transform-timing(1s);
			}
		}

		&.active {
			height: 100vh;
			width: 100vw;
			height: calc(var(--vh, 1vh) * 100);
			overflow: hidden;
			position: absolute;
			z-index: 9;
			display: flex;
			flex-direction: column-reverse;
			ul {
				height: calc(100vh - 90px);
				opacity: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				top: 0;
				// @include fadeInUp(1s);
				li {
					&:nth-of-type(even) {
						@include fadeInLeft(1s);
					}
					&:nth-of-type(odd) {
						@include fadeInRight(1s);
					}
				}

				// @include transform-timing(1s);
			}
		}

		background-color: $color-brand-01;

		ul {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			height: 100%;
			margin: 0;
			position: absolute;

			li {
				padding: $space-sm $space-xs;
				&:first-of-type {
					padding-top: 0;
				}
				a {
					span {
						font-weight: 600;
					}
					font-family: $heading-font-family;
					font-size: $text-lg;
					justify-content: space-between;
				}
			}

			&.nav-home {
				display: grid;
				grid-template-areas: "li1 li2" "li3 li4" "li5 li6";
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr 1fr;
				align-items: center;
				li {
					$li-list: 1, 2, 3, 4, 5, 6;
					@each $item in $li-list {
						&:nth-of-type(#{$item}) {
							grid-area: li#{$item};
						}
					}
					padding: $space-sm;
					display: flex;
					justify-content: center;
					a {
						align-items: center;
						font-size: 2rem;
						flex-direction: column;
					}
					&:nth-of-type(even) {
						a {
							margin-right: auto;
						}
					}

					&.mobile-feature {
						a {
							font-size: $base-font-size;
						}

						.work-item-wrapper {
							margin: 0;
							grid-template-areas: "img" "info";
							grid-template-columns: 1fr 0.2fr;
							@include media(smd) {
								grid-template-columns: 1fr;
								grid-template-rows: 1fr;
							}
							.work-img {
								@include media(smd) {
									width: 100%;
									margin-left: 0;
								}
								width: 40vw;
								height: auto;
								border: none;
								img {
									height: auto;
									width: 100%;
								}
							}
							.work-info {
								padding: 0;
								a {
									align-items: flex-start;
								}
								span {
									font-size: 2rem;
								}
								.work-type {
									margin-top: 0;
									display: flex;
									align-items: center;
									justify-content: space-between;
								}
							}
						}
					}
				}
			}
		}
	}
}
